.idea
/wp-content/uploads/
# ignore log files and databases
*.log
*.sql
*.sqlite
*.gz
*.zip
.vscode*
.ftpconfig
/wp-content/debug.log
# Ignore WordPress backups and migration files
*.wpress
wp-content/ai1wm-backups/
wp-content/plugins/all-in-one-wp-migration/storage/
